<!DOCTYPE html>
<html>
<head>
<style> 
       body {
              background-image: url("b2.png");
              background-color: #cccccc;
			  background-size: cover;
			  background-repeat: no repeat;
       }     
	          
	   
</style>
<center>
	<font color="darkblue" size="5" style="font-family: avenir">
		<body bgcolor="lightgrey">
			<h1>SAVE SUCCESSFUL</h1><br>
			<h2>THE DATABASE HAS BEEN UPDATED WITH THE FOLLOWING EMPLOYEE.</h2><br>
			<h2>{{ name }}</h2><br>
			<title>Add Emp Output</title>
				<form action="/back "autocomplete="on" method = "POST">

				<button type="submit"  style="background: black; height: 45px; width: 200px; color:white; font:oblique;">G O   B A C K</button><br><br>
				
            </form>
		</body>
	</font>
</center>
</head>
<body>

</body>
</html>
