	<!DOCTYPE html>
<html>
<head>
	<title>Get Employee Information</title>
</head>
<center>
	<font color="black" size="5" style="font-family: avenir">

		<h1 style="color: DarkBlue">EMPLOYEE INFORMATION</h1>

		<body bgcolor="lightgrey">

			<form action="/fetchdata" autocomplete="on" method="POST">
         
                <br><br><h5>Employee ID:</h5><br> <input class="w3-input w3-border" type="text" name="emp_id" autofocus size="40" required><br><br><br>
				
				<button type="submit"  style="background: black; height: 45px; width: 200px; color:white; font:oblique;">EMPLOYEE FETCH INFO</button><br><br>
				</form>
				
				<form action="/register" autocomplete="on" method="POST">

				<button type="submit"  style="background: black; height: 45px; width: 200px; color:white; font:oblique;">GO TO UPDATE DATABASE PAGE</button><br><br>
			</form>

		</body>
	</font>
</center>
</html>
