<!DOCTYPE html>
<html>
<head>
	<title>Homepage</title>
	<style> 
       body {
              background-image: url("b2.png");
              background-color: #cccccc;
			  background-size: cover;
			  background-repeat: no repeat;
       }     
	          
	   
</style>
</head>
<center>
	<font color="black" size="4" style="font-family: avenir">

		<h1 style="color: darkblue">EMPLOYEE DATABASE</h1>

		<body bgcolor="lightgrey">
		
		    <form action="/login" autocomplete="on" method = "POST">

			<br><br><br><button type="submit"  style="background: black; height: 45px; width: 200px; color:white; font:oblique;">L O G I N</button><br><br>
				
            </form>

			<form action="/register" autocomplete="on" method = "POST">

				<button type="submit"  style="background: black; height: 45px; width: 200px; color:white; font:oblique;">R E G I S T E R</button><br><br>
				
            </form>
			
			<form action="/about" autocomplete="on" method = "POST">

				<button type="submit"  style="background:black; height: 45px; width: 200px; color:white; font:oblique;">A B O U T U S</button><br><br>
				
            </form>
			
		</body>

	</font>
</center>
</html>
